# Extras
original_mc_data/

# Exclude the test folder for now, mostly just messing with APIs and other stuff in here.
src/main/java/net/kelsoncraft/neoforgetest/test/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo